.icon-container{
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.icon{
    width: 4rem;
    cursor: pointer;
}
.iconName{
    font-size: 1.5rem;
    
}
.menu2{
    /* background-color: red; */
    margin-top: 20rem;
}