.main-container{
    margin: 0 30rem;
}
.items-container{
    display: grid;
    grid-template-columns: 2fr repeat(3, 1fr);
    grid-template-rows: 2fr 1fr;
    row-gap: 0.7rem;
    column-gap: 0.7rem;
}
